{% extends 'base.html.twig' %}

{% block title %}Hello TweetController!{% endblock %}

{% block body %}
<style>
	.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
	.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section class="vh-100" style="background-color: #3da2c3;">
  <div class="container py-5 h-100">
	<div class="row d-flex justify-content-center align-items-center h-100 row-gap-3">
	  <div class="col col-lg-8 col-xl-6">
		<div class="card rounded-3 mb-3">
		  <div class="card-body p-4">
			<li class="list-group-item border-0 d-flex align-items-center p-0">
			 <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar"
				  class="rounded-circle me-n2" width="45">
			  </li>
			<p class="mb-2"><span class="h2 me-2">Nom Prénom</span> <span
			<p class="text-muted pb-2">Date et heure du tweet</p>

			<ul class="list-group rounded-0">
			  
			  <li class="list-group-item border-0 d-flex align-items-center ps-0">
				<div class="input-group input-group-sm mb-3">
					
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
				</div>
			  </li>
			</ul>
		  </div>
		</div>
		<div class="card rounded-3">
		  <div class="card-body p-4">
			<li class="list-group-item border-0 d-flex align-items-center p-0">
			 <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar"
				  class="rounded-circle me-n2" width="45">
			  </li>
			<p class="mb-2"><span class="h2 me-2">Nom Prénom</span> <span
			<p class="text-muted pb-2">Date et heure du tweet</p>

			<ul class="list-group rounded-0">
			  
			  <li class="list-group-item border-0 d-flex align-items-center ps-0">
				<div class="input-group input-group-sm mb-3">
					
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
				</div>
			  </li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</section>
{% endblock %}
